
* {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}
#navigation-header {
position: relative;
  background: #EBC49F;
  padding-bottom: 0px;
}
#chicken-section div {
	background: #F1EF99;
}
#navigation-button {
  clear: both;
  position: absolute;
	float: right;
	top: 10px;
	right: 10px;
  background: #B0C5A4;
}
#collapsible-nav {
  border: solid 2px;
}

#nav-list li {
	text-align: center;
}

#nav-list a {
  display: inline-block;
  width:100%;
  height:100%;
  text-decoration: none;
  padding: 10px;
}
#nav-list hr {
  margin: 0px;
}

#nav-list a:hover {
	background: #E7E7E7;
}
#nav-list span {
	width: 100%;
}

#collapsible-nav ul {
  background: #B0C5A4;
	list-style-type: none;
}

