* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}
h2 {
 	position: relative;
 	top: -2px;
	right: -2px;
	float: right;
	border: 2px;
	border-style: solid;
	padding: 0px 25px 0px 25px;
}

.menu-section  {
	border: 2px;
	border-style: solid;
	background: lightgray;
	margin: 20px;
}

p {
	clear:right;
	padding: 5px;
}
#chicken {
	background: #f28a8a;
}
#beef {
	background: #c23636;
	border-color: black;
	color: white;
}
#sushi {
	background: #e8c76b;
}


@media (min-width: 992px) {
	.col-bigly-4 {
		float: left;
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-mid-6 {
		float: left;
		width: 50%;
	}
	.col-mid-12 {
		float: left;
		width: 100%
	}
}
